/*
* Noon Deliveries V1.0
* Copyright 2014, Noon Deliveries
* www.noondeliveries.com
* 13/03/2014
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Font-Face */

/* #Site Styles
================================================== */
h1, h2, h3, h4, h5, h6 {
		color: rgb(61,61,61);
		font-weight: normal; 
		font-family: "Sans Caption", Helvetica, Arial, sans-serif;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-family: "brush script", "Times New Roman", serif;font-size: 46px; line-height: 50px; margin-bottom: 14px;color: rgb(206,56,42);}
	h2 { font-family: "Sans Caption", Helvetica, Arial, sans-serif;font-size: 40px; line-height: 40px; margin-bottom: 10px;color: rgb(50,116,244); }/* voor header/headlines */
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		font-family: "Sans Caption", Helvetica, Arial, sans-serif;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow:normal;
}


.title_blue h2{
	height: 120px;
	background:url('../images/layout-img/title-bg-bottom.png') no-repeat;
	background-position: bottom;
}
.button, button{}


body {
		background: #fff;
		font: 16px/23px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: rgb(61,61,61);
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

a, a:visited { color: rgb(206,56,42); text-decoration: none; outline: 0; }
a{	}
a:hover, a:focus { color: rgb(61,61,61); }

*{ 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;  

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;       
}
input[type=text] { -webkit-user-select: text; }

.spc{
	padding-top:15px;
}

/* || Page button styles || */

.proceed.button{
	background: rgb(206,56,42);
	border-bottom: 4px solid;
	border-color: rgb(168,28,14);
	color: rgb(251,249,249);
	padding: 12px 25px 10px 25px;
	font-weight: bolder;
}

.proceed.button:hover{
	background: rgb(185,44,31);
	color: rgb(149,24,12);
}

.sign.button{
	background:rgb(50,116,244);
	border:1px solid rgb(50,116,244) ;
    font-size:13px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 25px 5px 25px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #0e42a7;
    text-shadow: 1px 1px #000;
}

.sign.button a{
	color: #fff;
}

.sign.button:active{
	top:3px;
   
}

.sign.button:active::before {
    top:50%;
    margin-top:-12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.green.button{
	background: rgb(68,156,34);
	border-bottom: 4px solid;
	border-color: rgb(38,107,12);
	color: #fff;
	padding: 12px 25px 10px 25px;
	font-weight: bolder;
}

.green.button:hover{
	background: rgb(55,138,23);
	color: rgb(38,107,12);
}

.contact.button{
	background:rgb(223,223,223);
	border:1px solid #fff ;
    font-size:13px;
    text-decoration:none;
    color:rgb(206,56,42);
    position:relative;
    padding:10px 17px 5px 17px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #631a18;
   
}

.contact.button:active{
	top:3px; 
}

.contact.button:active::before {
    top:50%;
    margin-top:-12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.submit.button{
	background: rgb(240,240,240);
	border-bottom: 1px solid;
	border-color: #fff;
	color: rgb(206,56,42);
	padding: 12px 85px 10px 85px;
	font-weight: bolder;
	-moz-box-shadow: 0px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 3px rgba(0,0,0,0.3);
}

.submit.button:hover{
	background: #fff;
	color: rgb(61,61,61);
}

.waves{
	background:url('../images/layout-img/wave-red-small.png') repeat;
	height: 23px;
	width: 100%;
}

.wave-second{
	background:url('../images/layout-img/wave-gray.png') repeat;
	height: 20px;
	width: 100%;
}

.wave-second-a{
	background:url('../images/layout-img/wave-red-bottom.png') repeat;
	height: 20px;
	width: 100%;
}

.title_blue h2{
	height: 120px;
	background:url('../images/layout-img/title-bg-bottom.png') no-repeat;
	background-position: bottom;
	text-align: center;
	font-weight: bolder !important;
}


/* #Page Styles
================================================== */

/* -- TOP NAVIGATION -- */

.top-nav{
	background: rgb(206,56,42);
	padding-top:10px;
}

.top-nav .logo{
	background:url('../images/layout-img/logo.png') no-repeat;
	padding: 0px 0 0px 87px;
}

.top-nav .logo p{
	margin-bottom: 0;
	color: rgb(98,25,24) !important;
	padding-left: 30px;
	font-style:italic
}

.top-nav .logo strong{
	color: rgb(98,25,24);
}

.top-nav .logo h1{
	margin-bottom: 0;
	line-height: 10px;
	padding: 30px 0 10px 0;
}

.top-nav .logo h1 a{
	color: rgb(98,25,24);
}

.top-nav .logo h1 a:hover{
	opacity: 0.8;
}

.top-nav .account-options ul{
	float: right;
	margin:0;
	padding:0;
	padding-top: 10px;
}

.top-nav .account-options ul li{
	margin:0;
	padding:0;
}

.top-nav .account-options ul li{
	display: inline-block;
	margin-left: 20px;
}

.top-nav li.login-option a{
	background:url('../images/layout-img/user-icon.png') no-repeat;
	background-position: left;
	color:#fff;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.top-nav li.login-option a:hover, .top-nav li.reorder-option a:hover{
	color: #3d3d3d;
}

.top-nav li.reorder-option a{
	background:url('../images/layout-img/icon_heart.png') no-repeat;
	background-position: left;
	color:#fff;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
}

/* -- HEADER -- */

.header{
	padding:120px 0 100px 0 ;
}

.header .tab-content h3{
	font-size: 20px;
	color:rgb(61,61,61);
}

.header .tab-content {
	padding-bottom: 30px;
	width:100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background:url('../images/layout-img/border-img.png')no-repeat;
	background-size: 100%;
	background-position: bottom;
	margin-top:5px !important;
}

.header .center-tab-content{
	background: #fff;
	width:100%;
	padding: 10px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.header ul.tabs{
	margin-bottom:5px !important;
	text-align: center;
	height: 68px;
	padding: 5px 0 12px 0;
background:url('../images/layout-img/border-img-tab-top.png')50% 60% no-repeat;
}

.header .tabs-center-links{
	padding: 9px 0 10px 0;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.header .tabs li {
	list-style:none;
	display:inline;
	padding:5px 0;
	color:rgb(150,150,150);
	margin:0;
}

.header ul.tabs a {
	height: 46px;
	padding:0 0 2px 0;
	display:inline-block;
	color:#9d9c9c;
	text-decoration:none;
	font-weight: bolder;
	padding:0px 43px;
	margin:0;
}

.header .tabs a.active {
	color:rgb(206,56,42);
	background:url('../images/layout-img/pijl-img.png')no-repeat;
	background-position: bottom;
}

.header li.center-tab-home{
	border-right: 1px dashed #cdcbcb;
	border-left: 1px dashed #cdcbcb;
}

.header .form-wrapper {
    overflow: hidden;
}

.header .form-wrapper #search {
    width: 320px;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px; 
    background: #e6e5e5;      
}

.header .form-wrapper #search:focus {
    outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset; 
    
}

.header .form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;

}

.header .form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.header .form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 

.header .form-wrapper #submit {
    float: right;    
    border: 1px solid #00748f;
    height: 42px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font:15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;    
    background: rgb(206,56,42);
    border-color: rgb(168,28,14);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #8c190e;     
}

.header .form-wrapper #submit:hover,
.header .form-wrapper #submit:focus {       
    background: rgb(185,44,31);
	
}   
  
.header .form-wrapper #submit:active {
    outline: 0;  
    top:50%;  
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}
  
.header .form-wrapper #submit::-moz-focus-inner {
    border: 0;
}

.header .social-likebox{
	padding:0;
	border-top: 1px dashed  #cdcbcb;
	padding-top: 15px;
}

.header .social-likebox ul{
	padding:0;
	margin: 0;
}

.header .social-likebox ul li{
	display: inline-block;
	padding:0;
	margin: 0;
}

.header .social-likebox ul li.twitter-share{
	padding-top: 10px;
	padding-right: 10px;
}

.header .social-likebox ul li.googleplus-share{
	padding-top: 10px;
}

.header .twitter-follow-button{
	padding:0;
}

.header .slogan{
	padding-top:150px;
}

.header .slogan h2{
	font-family: Arial, sans-serif;
	font-size: 35px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000; 
	font-weight: bold;
}

/* -- CONTENT WRAPPER -- */

.center-content-wrapper{
	background: #fff;
}

/* how it works */

.firts-content-section{
	background:url('../images/layout-img/pizza-bg.png') rgb(237,237,237) no-repeat;
	background-position: bottom;
	border-bottom: 1px solid #e4e4e4;
	padding:30px 0 200px 0;
}

.wave-second{
	background:url('../images/layout-img/wave-gray.png') repeat;
	height: 20px;
	width: 100%;
}

.noon-stap{
	background: #fff;
	padding: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
}

.firts-content-section .search{
	background:url('../images/layout-img/search-icon.png') no-repeat;
	background-position: top;
	padding-top:180px;
	text-align: center;
}

.firts-content-section .search h1{
	background:url('../images/layout-img/nummering_one.png') 20% 50% no-repeat;
}

.firts-content-section .order{
	background:url('../images/layout-img/order-icon.png') no-repeat;
	background-position: top;
	padding-top:180px;
	text-align: center;
}

.firts-content-section .order h1{
	background:url('../images/layout-img/nummering_two.png') 20% 50% no-repeat;
}

.firts-content-section .eat{
	background:url('../images/layout-img/eat-icon.png') no-repeat;
	background-position: top;
	padding-top:180px;
	text-align: center;
}

.firts-content-section .eat h1{
	background:url('../images/layout-img/nummering_three.png') 20% 50% no-repeat;
}

/*flexible embeds*/

.second-content-section{
	padding-top: 25px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vid-one h1{
	display: block;
}

.vid-one ul{
	padding-top: 25px;
}

.vid-one ul li{
	background: url('../images/layout-img/icon_star.png') no-repeat;
	padding-left: 17px;
	font-size: 13px;
}

.vid-two p{
	padding-top: 25px;
	font-size: 13px;
}

.vid-one p{
	padding-top: 25px;
	font-size: 13px;
}
/* Home bottom contact */

.home-contact-section{
	background:rgb(206,56,42);
	padding-top:20px;
}

.home-contact-section span{
	color: #fff;
	font-size: 20px;
	padding-right: 25px;
}

/* -- FOOTER -- */

.footer-wrapper{
	background:rgb(237,237,237) 
}

.footer-navigation-section{
	padding-top: 20px;
}

ul.footer-top-nav li{
	display: inline-block;
	margin:0 10px;
	border-right: 1px dashed #cdcbcb;
	padding-right: 25px;
}

ul.footer-top-nav li.none-brd{
	border-right: none;
	padding-right: 0px;
}

ul.footer-top-nav li a{
	font-size: 13px;
}

ul.footer-top-nav {
	text-align: center;
}

.footer-social-links ul{
	text-align: center;
	padding-top:15px;
}

.footer-social-links ul li{
	display: inline-block;
	padding: 0 5px;
}

.footer-social-links ul li a:hover{
	opacity: 0.8;
}

.bottom-browse-nav ul{
	display: inline-block;
	margin:0;
	width: 100%;
}

.bottom-browse-nav ul li{
	border-bottom: 1px solid #c1c1c1;
	margin:0;
	padding:5px 0 5px 0;
}

.bottom-browse-nav ul li a{
	margin:0;
	padding:0;
	color: #3d3d3d;
}

.bottom-browse-nav ul li a:hover{
	color:rgb(206,56,42);
}

.bottom-browse-nav tr{
	border-bottom: 1px solid #c1c1c1;
	padding:10px 0;
}

.bottom-browse-nav td a{
	margin:0;
	padding:0;
	color: #3d3d3d;
}

.bottom-browse-nav td a:hover{
	color:rgb(206,56,42);
}

table { 
  width: 100%; 
}

.bottom-browse-nav h4{
	border-bottom: 1px solid #c1c1c1;
	width: 100%;
}

.footer-newsletter-section{
	background: #e3e3e3;
	margin:20px 0;
	padding-top: 25px;
}

.footer-newsletter-section .form-wrapper {
    overflow: hidden;
    padding-top:35px;
}

.footer-newsletter-section .form-wrapper #search {
    width: 320px;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px; 
    background: #fff;      
}

.footer-newsletter-section .form-wrapper #search:focus {
    outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset; 
    
}

.footer-newsletter-section .form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;

}

.footer-newsletter-section .form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.footer-newsletter-section .form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 

.footer-newsletter-section .form-wrapper #submit {
    float: right;    
    border: 1px solid #00748f;
    height: 42px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font: 15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;    
    background: rgb(206,56,42);
    border-color: rgb(168,28,14);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #8c190e;     
}

.footer-newsletter-section .form-wrapper #submit:hover,
.footer-newsletter-section .form-wrapper #submit:focus {       
    background: rgb(185,44,31);
	
}   
  
.footer-newsletter-section .form-wrapper #submit:active {
    outline: 0;    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}


  
.footer-newsletter-section .form-wrapper #submit::-moz-focus-inner {
    border: 0;
}

.copyrights{
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #ddd;
}


.banner-section img{
	padding-bottom: 25px;
}

.promo-banner{
	width: 729px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.da-slider{
	width: 100%;
	min-width: 520px;
	height: 400px;
	position: relative;
	margin: 30px auto;
	overflow: hidden;
	background: transparent url(../images/waves.gif) repeat 0% 0%;
	border-top: 8px solid rgb(237,237,237);
	border-bottom: 8px rgb(237,237,237);
	
	-webkit-transition: background-position 1s ease-out 0.3s;
	-moz-transition: background-position 1s ease-out 0.3s;
	-o-transition: background-position 1s ease-out 0.3s;
	-ms-transition: background-position 1s ease-out 0.3s;
	transition: background-position 1s ease-out 0.3s;
	
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	text-align: left;

}
.da-slide-current{
	z-index: 1000;
}
.da-slider-fb .da-slide{
	left: 80%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 100px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link{
	position: absolute;
	opacity: 0;
	right: 110%;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
	left: 10%;
	opacity: 1;
}
.da-slider-fb .da-slide .da-img{
	left: 60%;
	opacity: 1;
}
.da-slide h2{
	color: #000;
	font-size: 46px;
	width: 50%;
	top: 60px;
	white-space: nowrap;
	z-index: 10;
	font-family: 'Economica', Arial, sans-serif;
	font-weight: 700;
	margin-left: 400px;
	padding-top: 20px;
	margin-bottom: 20px;
}
.da-slide p{
	width: 45%;
	top: 155px;
	color: #585858;
	font-size: 18px;
	line-height: 26px;
	height: 80px;
	overflow: hidden;
	font-style: italic;
	font-family: 'Economica', Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-left: 400px;
	
}
.da-slide .da-img{
	text-align: center;
	width: 50%;
	top: 100px;
	height: 256px;
	line-height: 320px;
	padding-top: 50px;
}
.da-slide .da-link{
	top: 270px; /*depends on p height*/
	border-radius: 30px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 8px solid rgba(255,255,255,0.8);
	padding: 2px 20px 0px;
	font-size: 18px;
	line-height: 30px;
	width: 80px;
	text-align: center;
	background: rgba(255,255,255,0.2);
}
.da-slide .da-link:hover{
	background: rgba(255,255,255,0.3);
}
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #bebdbd;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-arrows span{
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #ce382a;
	cursor: pointer;
	z-index: 2000;
	opacity: 0;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
	-webkit-transition: opacity 0.4s ease-in-out-out 0.2s;
	-moz-transition: opacity 0.4s ease-in-out-out 0.2s;
	-o-transition: opacity 0.4s ease-in-out-out 0.2s;
	-ms-transition: opacity 0.4s ease-in-out-out 0.2s;
	transition: opacity 0.4s ease-in-out-out 0.2s;
}
.da-slider:hover .da-arrows span{
	opacity: 1;
}
.da-arrows span:after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	background: transparent url(../images/arrows.png) no-repeat top left;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
	background-position: top right;
}
.da-arrows span.da-arrows-prev{
	left: 15px;
}
.da-arrows span.da-arrows-next{
	right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
	left: 10%;
	opacity: 1;
}
.da-slide-current .da-img{
	left: 60%;
	opacity: 1;
}
/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright h2{
	-webkit-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright p{
	-webkit-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright .da-link{
	-webkit-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-moz-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-o-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-ms-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromright .da-img{
	-webkit-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2{
	-webkit-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft p{
	-webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft .da-link{
	-webkit-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-moz-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-o-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-ms-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromleft .da-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright h2{
	-webkit-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	animation: toRightAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-toright p{
	-webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	animation: toRightAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toright .da-link{
	-webkit-animation: toRightAnim3 0.4s ease-in-out both;
	-moz-animation: toRightAnim3 0.4s ease-in-out both;
	-o-animation: toRightAnim3 0.4s ease-in-out both;
	-ms-animation: toRightAnim3 0.4s ease-in-out both;
	animation: toRightAnim3 0.4s ease-in-out both;
}
.da-slide-toright .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in-out both;
	-moz-animation: toRightAnim4 0.6s ease-in-out both;
	-o-animation: toRightAnim4 0.6s ease-in-out both;
	-ms-animation: toRightAnim4 0.6s ease-in-out both;
	animation: toRightAnim4 0.6s ease-in-out both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft h2{
	-webkit-animation: toLeftAnim1 0.6s ease-in-out both;
	-moz-animation: toLeftAnim1 0.6s ease-in-out both;
	-o-animation: toLeftAnim1 0.6s ease-in-out both;
	-ms-animation: toLeftAnim1 0.6s ease-in-out both;
	animation: toLeftAnim1 0.6s ease-in-out both;
}
.da-slide-toleft p{
	-webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toleft .da-link{
	-webkit-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-moz-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-o-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-ms-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
}
.da-slide-toleft .da-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-moz-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-o-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-ms-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
}
@-webkit-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

.testimonials-second{
	text-align: center;
	margin-top: 50px;
}

.client-icon img{
	border-radius: 60%;
	width: 60px;
	height: 60px;
	position: relative;
	margin-top: -40px;
}

.client-testimonial span{
	color: #000;
	font-weight: bold;
	margin: 10px 0;
	display: block;
}

.client-testimonial p{
	
	
}

.rest-img img{
	width: 100%;
	height: 180px;
}

.facts{
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 30px;
	padding-bottom: 10px;
	overflow: hidden;
}

.facts span{
	font-size: 28px;
	color: #3274f4;
}



.content-top ul{
	padding: 60px 0 0 0;
}
.content-top ul li{
	display: inline-block;
	padding: 10px 10px 20px 10px;
	margin: 0 0 0 16px;
}

.content-top li:hover{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

/* Specia Deals module */

li.specials img{
	float: left;
	margin-bottom: 30px;
}

.dic-price{
	background: #ce382a;
	color:#fff;
	border:2px solid #fff;
	width: 80px;
	height: 80px;
	text-align: center;
	padding-top: 30px;
	font-size: 30px; 
   -moz-border-radius: 3px; 
   -webkit-border-radius: 3px; 
   border-radius: 3px;
   font-weight: bold;
   float: right;
   margin-left: -40px;
   margin-top: 20px;
   margin-right: 5px;
   margin-bottom: 15px;
   position: relative;
 	border-radius: 50%;

}

.old-price{
	text-decoration: line-through;
	width: 100%;
	display: block;
	margin-top: 15px;
	text-align: right;
	padding-right: 5px;

}

.short-dscrp{
	margin-bottom: 35px;
	font-size: 13px;
	padding-left: 5px;
}

.title-prd{
	font-weight: bold;
	margin-bottom: 5px;
	padding-left: 5px;
}


.add_to_order{
	width: 150px;
	height: 16px;
	display: none;
	position: absolute;
	background: url('../images/layout-img/icon-add.png') no-repeat;
	font-size: 12px;
	padding-left: 20px;
	margin-top: -10px;
	margin-bottom: 0px;
	margin-left: 5px;
	
}









.content-top li:hover >.add_to_order{
	display: block;
}




.special_deals{
	margin-top: 30px;

}

.deals{
	margin-bottom: 40px;
	border:2px solid rgb(206,56,42);
	background: #fff;
}

.deals a{
	color: rgb(206,56,42);

}

.deals:hover{
	margin-bottom: 40px;
	border:2px solid rgb(206,56,42);
	background: #fff;
}

.deals:hover > a{
	color: #000;
}

.notification{
	padding-top: 15px;
}

.notification .exampleLive button#popModal_ex1 {
	background: url('../images/layout-img/menu-icons/dub.png') no-repeat;
	width: 130px;
	height: 45px;
	display: block;
	border: none;
	outline:none;
}
.notification .exampleLive span{
	color: #fff;
	float: right;
	width: 100px;
	height: 45px;
	position: absolute;
	padding: 5px 5px 3px 10px; 
  margin-left: 25px;
  margin-top: -4px;
  background: url('../images/layout-img/menu-icons/stuff.png') no-repeat;
}


/*FAQ*/

.questions{
	padding-top: 30px;
}


.questions h4{
	color: #ce382a;
	margin-top: 10px;
}

.browse_firts_part ul li{
	border-bottom: 1px solid #c1c1c1;
	margin:0;
	padding:5px 0 5px 15px;
	display: inline-block;
	margin-right: 25px;
	background: url('../images/layout-img/menu-icons/arrow_district.png') no-repeat center left;
}

.browse_firts_part{
	padding-top: 50px;
	padding-bottom: 100px;
}




.browse_firts_part ul li a:visited{
	color:rgb(206,56,42);
}

ul.multiple_districts{
	margin-top:50px;
}

ul.multiple_districts li a:hover{
	color:#000;
}

.browse_firts_part h4{
	color:#3274f4;
}






#toggle-view {
	list-style:none;	
	font-family:arial;
	font-size:13px;
	color: #818181;
	margin:0;
	padding:0;
	width:100%;
}

	#toggle-view li {
		margin-top:10px;
		margin-bottom:10px;
		border:1px solid #ccc;
		position:relative;
		cursor:pointer;
		padding-left: 5px;
		padding-top:15px;
		padding-bottom: 15px;
	}
	
	#toggle-view h3 {
		margin:0;
		font-size:13px;
	}

	#toggle-view span {
		position:absolute;
		right:5px; top:0;
		color:#ccc;
		font-size:13px;
	}
	
	#toggle-view .panel {
		margin:5px 0;
		display:none;
	}	


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'brush script';
	    src: url('../fonts/brush_script/brush_script.eot');
	    src: url('../fonts/brush_script/brush_script.eot?iefix') format('eot'),
	         url('../fonts/brush_script/brush_script.woff') format('woff'),
	         url('../fonts/brush_script/brush_script.ttf') format('truetype'),
	         url('../fonts/brush_script/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }

	@font-face {
	    font-family: 'Sans Caption';
	    src: url('../fonts/Sans_Caption/PTC55F.eot');
	    src: url('../fonts/Sans_Caption/PTC55F.eot?iefix') format('eot'),
	         url('../fonts/Sans_Caption/PTC55F.woff') format('woff'),
	         url('../fonts/Sans_Caption/PTC55F.ttf') format('truetype'),
	         url('../fonts/Sans_Caption/PTC55F.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
